Repository keshy/curiouskids, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @backend-team, @frontend-team, @core-team, @devops-team

Improve how earned badges are displayed on user profiles and home pages
  client/src/components/BadgeDisplay.tsx
  client/src/components/BadgeNotification.tsx
  client/src/components/EarnedBadgesDisplay.tsx
  client/src/lib/badgeUtils.ts
  public/badges/knowledge_seeker.svg
  public/badges/math_whiz.svg
  public/badges/reading_star.svg
  public/badges/science_explorer.svg
  public/badges/super_learner.svg
Owners: @frontend-team, @project-maintainer

Update the achievement badges with updated designs for enhanced visuals
  public/badges/curious-mind.svg
  public/badges/curious_mind.svg
  public/badges/knowledge-seeker.svg
  public/badges/knowledge_seeker.svg
  public/badges/math-whiz.svg
  public/badges/reading-star.svg
  public/badges/science-explorer.svg
  public/badges/super-learner.svg
  public/badges/super_learner.svg
Owners: @project-maintainer

Inform users that voice input does not work on Amazon Silk browser
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
  replit_agent/architecture.md
  replit_agent/user_preferences.md
Owners: @frontend-team, @project-maintainer

Give users more time to formulate questions before automatically submitting
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
Owners: @frontend-team

Improve accessibility by adding audio prompts and fix display issues
  client/src/components/QuestionSuggestions.tsx
  client/src/components/UserMenu.tsx
Owners: @frontend-team

Improve voice input on more devices and ensure audio files are saved
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
  server/openai.ts
Owners: @frontend-team, @backend-team

Improve audio handling, voice input, and user experience across the platform
  client/src/components/QuestionInput.tsx
  client/src/pages/History.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Display the earned badges in a tooltip and fix badge image loading
  client/src/components/EarnedBadgesDisplay.tsx
  client/src/components/UserMenu.tsx
  client/src/lib/badgeUtils.ts
Owners: @frontend-team

Show user progress with achievement badges on their account avatar
  client/src/components/UserMenu.tsx
Owners: @frontend-team

Remove guest mode and require users to sign in for a personalized experience
  client/src/contexts/AuthContext.tsx
  client/src/pages/Login.tsx
Owners: @frontend-team

Remove the guest mode and streamline user authentication process
  client/src/components/AskMeBuddy.tsx
  client/src/components/QuestionInput.tsx
  client/src/contexts/AuthContext.tsx
Owners: @frontend-team

Enable audio playback for all users, regardless of login status
  client/src/components/AskMeBuddy.tsx
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Ensure seamless audio playback by preventing errors when there's no sound
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Enhance user session handling and improve the learning history display
  client/src/App.tsx
  client/src/pages/History.tsx
Owners: @frontend-team

Maintain user question history and remove old media to conserve space
  server/routes.ts
Owners: @backend-team

Improve response times and clean up old user data automatically
  server/openai.ts
  server/routes.ts
Owners: @backend-team

Improve user experience and performance with enhanced data handling
  client/src/components/EarnedBadgesDisplay.tsx
  client/src/components/UserMenu.tsx
  server/openai.ts
Owners: @frontend-team, @backend-team

Maintain question context when navigating to other pages
  client/src/App.tsx
  client/src/components/AskMeBuddy.tsx
  client/src/components/GlobalQuestionStatus.tsx
  client/src/contexts/QuestionContext.tsx
Owners: @frontend-team

Show the student's progress on questions across all pages of the platform
  client/src/App.tsx
  client/src/components/AskMeBuddy.tsx
Owners: @frontend-team

Show the question asked by the user with the generated answer for context
  client/src/components/AskMeBuddy.tsx
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Enable users to connect with friends and form study groups
  client/src/App.tsx
  client/src/pages/Social.tsx
  shared/schema.ts
Owners: @frontend-team, @core-team

Introduce social features that allow learners to connect and collaborate
  client/src/App.tsx
  client/src/pages/Social.tsx
  server/storage.ts
Owners: @frontend-team, @backend-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @project-maintainer

# Server code
/server/ @backend-team

# Client code
/client/ @frontend-team

# Shared utilities
/shared/ @core-team

# Configuration files
*.config.js @devops-team
*.config.ts @devops-team
.github/workflows/ @devops-team
