Repository keshy/curiouskids, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainer, @backend-team, @frontend-team, @core-team, @devops-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @project-maintainer

# Server code
/server/ @backend-team

# Client code
/client/ @frontend-team

# Shared utilities
/shared/ @core-team

# Configuration files
*.config.js @devops-team
*.config.ts @devops-team
.github/workflows/ @devops-team

Add user profile page and restrict history access to authenticated users
  client/src/App.tsx
  client/src/pages/History.tsx
  client/src/pages/Profile.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Update introductory text to reflect the new platform's branding
  client/src/pages/History.tsx
Owners: @frontend-team

Implement settings page and fix badge loading errors on user profile
  client/src/App.tsx
  client/src/pages/Profile.tsx
  client/src/pages/Settings.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Show parent settings only for guest users and rename some settings pages
  client/src/components/Header.tsx
  client/src/components/ParentSettingsModal.tsx
  client/src/pages/Settings.tsx
Owners: @frontend-team

Improve voice recognition and fix history page for all users
  client/src/hooks/useSpeechRecognition.tsx
  client/src/pages/History.tsx
Owners: @frontend-team

Improve voice input and provide guidance for mobile users on the platform
  client/src/components/QuestionInput.tsx
Owners: @frontend-team

Restore the ability to see previously asked questions on the history page
  client/src/pages/History.tsx
Owners: @frontend-team

Associate question history with logged-in and guest users more effectively
  client/src/components/AskMeBuddy.tsx
  client/src/pages/History.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Improve loading of user question history for both logged-in and guest users
  client/src/pages/History.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Improve the history loading and ensure proper user context for all users
  client/src/components/AskMeBuddy.tsx
  client/src/pages/History.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Improve user experience when loading question history after login
  client/src/lib/queryClient.ts
  client/src/pages/History.tsx
Owners: @frontend-team

Enable voice input on mobile devices and improve error handling
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
Owners: @frontend-team

Enable voice input on mobile and desktop with improved error handling
  client/src/components/QuestionInput.tsx
Owners: @frontend-team

Restrict voice features for guest users and guide them to sign in
  client/src/components/AskMeBuddy.tsx
  client/src/components/QuestionInput.tsx
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Added guardrails for llm usage for guest mode.
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Disable voice features in guest mode and prompt users to sign in
  client/src/components/AskMeBuddy.tsx
  client/src/components/ResponseDisplay.tsx
Owners: @frontend-team

Improve voice recognition and address microphone permission issues
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
Owners: @frontend-team

Store user history and data directly in a persistent and reliable database
  server/storage.ts
Owners: @backend-team

Record questions from both logged-in users and guest users on the platform
  shared/schema.ts
Owners: @core-team

Improve handling of guest user questions and database interactions
  server/routes.ts
  server/storage.ts
Owners: @backend-team

Establish database structure to support user data and learning progress
  migrations/0000_true_mulholland_black.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  migrations/relations.ts
  migrations/schema.ts
Owners: @project-maintainer

Enable users to log in and securely access the platform using Firebase
  server/routes.ts
  server/storage.ts
Owners: @backend-team

Verify user login status and securely connect with the platform backend
  client/src/contexts/AuthContext.tsx
Owners: @frontend-team

Improve user login process and address issues with Google sign-in
  client/src/contexts/AuthContext.tsx
  server/index.ts
  server/routes.ts
Owners: @frontend-team, @backend-team

Fix user login problems and ensure user data is correctly transmitted
  client/src/components/AskMeBuddy.tsx
  client/src/pages/History.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Improve user login process using Firebase credentials for authentication
  server/routes.ts
Owners: @backend-team

Improve how the system grants achievement badges based on user activity
  server/routes.ts
Owners: @backend-team

Explain how to earn achievement badges and their rarities on profile page
  client/src/pages/Profile.tsx
Owners: @frontend-team

Improve AI responsiveness by handling service outages and usage limits
  server/openai.ts
Owners: @backend-team

Improve voice input by automatically submitting the user question
  client/src/components/QuestionInput.tsx
  client/src/hooks/useSpeechRecognition.tsx
Owners: @frontend-team

Restrict audio playback to registered users and prompt guests to sign in
  client/src/pages/History.tsx
Owners: @frontend-team

Store generated audio files in database with filesystem fallback
  server/audio-service.ts
  server/openai.ts
  server/routes.ts
  shared/schema.ts
Owners: @backend-team, @core-team

Improve audio playback and add database storage for audio files
  client/src/components/ResponseDisplay.tsx
  client/src/pages/History.tsx
  server/routes.ts
  shared/schema.ts
Owners: @frontend-team, @backend-team, @core-team

Fix error when users view their profile page and display earned badges
  client/src/pages/Profile.tsx
Owners: @frontend-team

Showcase user achievements with a new badge collection display
  client/src/components/EarnedBadgesDisplay.tsx
  public/badges/art.svg
  public/badges/curious_mind.svg
  public/badges/default.svg
  public/badges/geography.svg
  public/badges/history.svg
  public/badges/math.svg
  public/badges/reading.svg
  public/badges/science.svg
Owners: @frontend-team, @project-maintainer

Show off user achievements with badges displayed on the main home page
  client/src/components/AskMeBuddy.tsx
  client/src/components/EarnedBadgesDisplay.tsx
  client/src/pages/Home.tsx
Owners: @frontend-team

Return empty badge structures instead of erroring when user isn't signed in
  server/routes.ts
Owners: @backend-team

Ensure badges are correctly displayed even when there are no badges
  client/src/components/EarnedBadgesDisplay.tsx
  server/routes.ts
Owners: @frontend-team, @backend-team

Fix display of achievement badges and ensure proper loading of icons
  .replit
  client/src/components/EarnedBadgesDisplay.tsx
  public/badges/curious-mind.svg
  public/badges/knowledge-seeker.svg
  public/badges/math-whiz.svg
  public/badges/reading-star.svg
  public/badges/science-explorer.svg
  public/badges/super-learner.svg
Owners: @project-maintainer, @frontend-team

Improve loading of badge images and provide reliable display options
  client/src/components/BadgeDisplay.tsx
  client/src/components/BadgeNotification.tsx
  client/src/components/EarnedBadgesDisplay.tsx
  public/badges/curious-mind.svg
Owners: @frontend-team, @project-maintainer
